backend:
  name: git-gateway
  branch: main

media_folder: "src/assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "posts"
    label: "文章"
    folder: "src/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "标题", name: "title", widget: "string" }
      - { label: "发布日期", name: "date", widget: "datetime" }
      - { label: "所属板块", name: "category", widget: "select", options: ["职场故事", "恋恋风尘", "离地三尺"] }
      - { label: "封面图片", name: "cover", widget: "image", required: false }
      - { label: "正文内容", name: "body", widget: "markdown" }
      - { label: "tags", name: "tags", widget: "hidden", default: ["posts"] }



